{% extends '::baseUser.html.twig' %}

    {% block title %}Changer de mot de passe{% endblock %}
    
    {% block body %}

		<div class="container" style="margin-top:70px">
			<div class="row">
			  <div class="col-sm-6 col-md-5 col-sm-offset-3 col-md-offset-3">
			    <div class="panel panel-default">
			    
			      <div class="panel-body">
			      		{% for message in app.session.flashBag.get('wrongPass') %}
			      			{{ message }}
			      		{% endfor %}
			      		
				      	{% block fos_user_content %}

					        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}		    
						        <fieldset style="background-color: rgb(31,174,151);">
						            <div class="row">
						               <div style="padding:25px;"> <img class="profile-img" src="http://3rwebtech.com/logo2.png" class="img-responsive" alt=""> </div>					              
						            </div>
						            <div class="row" style="margin-bottom: 20px;">
						                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
								                  
							                <div class="form-group">
								                <label>Mot de passe actuel :</label><br>
								                   {{ form_widget(form.current_password)}}								                  
							                </div>
							                <div class="form-group">
								                 <label>Nouveau mot de passe :</label>								                  
								                    {{ form_widget(form.plainPassword.first) }}								                  
							                </div>					               
							                <div class="form-group">					                 
								                <label>Confirmez votre nouveau mot de passe :</label> <br>								               
								                    {{ form_widget(form.plainPassword.second) }}         							                
							                </div>
							                <div class="col-md-12 text-center"><input type="submit" class="btn btn-warning" value="Validez"></div>             
						                </div>
						            </div>						           
						        </fieldset>						       
					        {{ form_end(form) }}

				    	{% endblock fos_user_content %}
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		
	{% endblock %}