{% extends '::base.html.twig' %}

	{% block title %}Accueil{% endblock %}

	{% block body %}
		 <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('bundles/framework/images/slide-1.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/framework/images/slide-2.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/framework/images/slide-3.jpg') }}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Business Casual</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Start Bootstrap</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        {% if listArticles is not null %}
            {% for article in listArticles %}
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="intro-text text-center">
                                <strong>{{article.title|title}}</strong>
                            </h2>
                            <hr>
                            {% if article.images is not empty %}
                                {% for image in article.images %}
                                    <img class="img-responsive img-border img-left" src="{{ asset('uploads/images/' ~ image.filename) }}" alt="">
                                {% endfor %}
                            {% endif %}
                            <hr class="visible-xs">
                            <p>{{ article.text1 }}</p>
                            {% if article.images is not empty %}
                                {% for image in article.images %}
                                    <img class="img-responsive img-border img-left" src="{{ asset('uploads/images/' ~ image.filename1) }}" alt="">
                                {% endfor %}
                            {% endif %}
                            <p>{{ article.text2 }}</p>
                            {% if article.images is not empty %}
                                {% for image in article.images %}
                                    <img class="img-responsive img-border img-left" src="{{ asset('uploads/images/' ~ image.filename2) }}" alt="">
                                {% endfor %}
                            {% endif %}
                            <p>{{ article.text3 }}</p>
                            {% if article.images is not empty %}
                                {% for image in article.images %}
                                    <img class="img-responsive img-border img-left" src="{{ asset('uploads/images/' ~ image.filename3) }}" alt="">
                                {% endfor %}
                            {% endif %}
                            <p>{{ article.text4 }}</p>
                            {% if article.images is not empty %}
                                {% for image in article.images %}
                                    <img class="img-responsive img-border img-left" src="{{ asset('uploads/images/' ~ image.filename4) }}" alt="">
                                {% endfor %}
                            {% endif %}
                            <p>{{ article.text5 }}</p>
                            {% if article.images is not empty %}
                                {% for image in article.images %}
                                    <img class="img-responsive img-border img-left" src="{{ asset('uploads/images/' ~ image.filename5) }}" alt="">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        

    
	{% endblock %}


